<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="/public/styles/global.css" />
    <link rel="stylesheet" href="/public/styles/views/porta.css" />

</head>
<body>
    <header id="cabecera">
          <h2>Denisse</h2>
          <div id="perfilContainer"></div>
           <div id="bio"> </div>

     <aside class="aside">
      <ul>
        <li>
          <a href="#acercademi">Acerca de mi</a>

        </li>

        <li>
          <a href="#habilidades-tecnicas">Habilidades técnicas</a>
        </li>

        <li>
        <a href="#habilidades-blandas">Habilidades Blandas</a>
        </li>

        <li>
          <a href="#proyecto">Proyectos</a>
        </li>

        <li>
          <a href="#contacto">Contáctame</a>
        </li>
      </ul>
    </aside>

    </header>

    <section id="secciones">
            <header>

                <header class="Principal">
                   <h2>Acerca de Mi</h2>
                    <div class="informacion">
                    <section>
                        <div class="info">
                        <article id="acercademi">
                            <p>Hola, mi nombre es Denisse, soy estudiante de Ingenieria de Software en la Universidad de Guayaquil.
                               Me apasiona el desarrollo web y estoy emocionada por seguir aprendiendo y creciendo en este campo.</p>
                        </article>
                        </div>
              </header>

                <header class="container1" id="habilidades-tecnicas">
                    <h3>Habilidades Técnicas</h3>
                    <div class="Habilidades">
                    <section>
                        <div class="habilidades-tecnicas">
                        <article>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/512px-HTML5_logo_and_wordmark.svg.png" alt="Html">
                            <span>Html</span>
                        </article>

                        <article>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png" alt="CSS">
                            <span>CSS</span>
                        </article>

                        <article>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" alt="Js">
                            <span>Js</span>
                        </article>

                        <article>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Csharp_Logo.png" alt="C#">
                            <span>C#</span>
                        </article>

                        <article>
                            <img src="https://www.koskila.net/images/2841-2019-01-25_23-33-061.jpg" alt=".NET CORE">
                            <span>.NET CORE</span>
                        </article>

                    </div>
              </header>
                

             <header class="container2" id="habilidades-blandas">
                <h3>Habilidades Blandas</h3>
                   
                    <ol>
                        <li>
                            Comunicacion 
                        </li>

                        <li>
                            Trabajo en equipo                        
                        </li>

                        <li>
                           Adaptabilidad
                        </li>
                    </ol>
                 
             </header>
                

             <header class="container3" id="proyecto">
                <h3>Proyectos</h3>
                <section >
                    <div id="repos"></div>
                </section>
                
            </header>
        </header>
      </section>

    <footer class="footer" id="contacto">
      <p>Portafolio. 2025</p>
      <span class="created-by"
        >Created by
        <a
          class="created-by-author"
          href="https://github.com/denisse11u/portafolio" 
          target="_blank"
          >Denisse11u</a
        >
      </span>

      <span class="created-by"
        >Source:
        <a
          class="created-by-author"
          href="https://github.com/denisse11u"
          target="_blank"
          >Github</a>
      </span>

      <span class="created-by"
        >Email: denisse17crespo@gmail.com
      </span>

    </footer>
    <script src="/public/scripts/portafolio.js"></script>
</body>
</html>